@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
//@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Custom CSS
.home-hero{
  position: relative;
  height: auto;
  min-height: 320px;
  max-height: 600px;
  width:auto;
  min-width: 100%;
  overflow: hidden;
  margin:0;
  padding:0;
  border-bottom: 5px solid #FFFFFF;
}
.home-hero img{
  display: inline-block;
  height: auto;
  min-height: 320px;
  max-height: 600px;
  width: 100%;
}
.home-hero iframe, .home-hero video{
  position: absolute;
  padding: 0;
  margin: 0;
}
.home-hero .slider{
  position: relative;
  padding: 0;
  margin: 0;
}
.home-hero .messager {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin:0;
  padding: 0;
  width: 25%;
  text-align: center;
}

.home-nav{
  position: relative;
  width: 50%;
  height: auto;
  min-height: 1px;
  margin: 0 auto;
  overflow: auto;
}

.home-nav .slick-slide img{
  display: block;
}

.messager h1 {
  color: white;
  text-shadow: 1px 1px 3px black;
}

.messager p {
  color: white;
  text-shadow: 1px 1px 3px black;
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  top: 50%;
  color: #ffffff;
  border: 0;
  background: none;
  z-index: 1;
  outline: none;
}

.slick-prev {
  left: 1%;
}

.slick-prev:after {
  content: "\f104";
  font: 40px/1 'FontAwesome';
}

.slick-next {
  right: 1%;
  text-align: right;
}

.slick-next:after {
  content: "\f105";
  font: 40px/1 'FontAwesome';
}

.slick-prev:hover:after,
.slick-next:hover:after {
  color: #7e7e7e;
}

.slick-slide {}

// Slick SLider CSS
@import 'slick';
